
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml

homeassistant:
  name: Home
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  unit_system: metric
  time_zone: !secret home_time_zone
  customize: !include customize.yaml

# Enables the frontend
frontend:
  javascript_version: latest
  themes: !include themes.yaml

# Enables configuration UI
config:

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  include_used_components: true

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Track the sun
#sun:

# Sensors
sensor:
  # Weather prediction
  - platform: yr

# Text to speech
tts:
  - platform: google

# Cloud
cloud:

# -------------------
# LIGHTS
# --------------------

light:
  - platform: xiaomi_miio
    name: living_room_0
    host: !secret light_bulb0_host
    token: !secret light_bulb0_token
    model: philips.light.bulb
  - platform: xiaomi_miio
    name: living_room_1
    host: !secret light_bulb1_host
    token: !secret light_bulb1_token
    model: philips.light.bulb
  - platform: xiaomi_miio
    name: kitchen_2
    host: !secret light_bulb2_host
    token: !secret light_bulb2_token
    model: philips.light.bulb
  - platform: xiaomi_miio
    name: kitchen_3
    host: !secret light_bulb3_host
    token: !secret light_bulb3_token
    model: philips.light.bulb
  - platform: xiaomi_miio
    name: kitchen_4
    host: !secret light_bulb4_host
    token: !secret light_bulb4_token
    model: philips.light.bulb
  - platform: group
    name: living_room
    entities:
      - light.living_room_0
      - light.living_room_1
  - platform: group
    name: kitchen
    entities:
      - light.kitchen_2
      - light.kitchen_3
      - light.kitchen_4

circadian_lighting:
  min_colortemp: 3000
  max_colortemp: 6500
  interval: 60
  transition: 60

switch:
  - platform: circadian_lighting
    name: control
    lights_ct:
      - light.living_room_0
      - light.living_room_1
      - light.kitchen_2
      - light.kitchen_3
      - light.kitchen_4
    disable_brightness_adjust: true

input_number:
  light_color_temperature:
    mode: slider
    min: 3000
    max: 5700
    step: 100
    unit_of_measurement: K

# -------------------
# MEDIA PLAYER
# --------------------

media_player:
  - name: mopidy
    platform: mpd
    host: !secret mopidy_host
  - name: spotify
    platform: spotify
    client_id: !secret spotify_client_id
    client_secret: !secret spotify_client_secret

input_select:
  audio_input:
    name: 'Audio Input'
    options:
      - Radio
      - Spotify
    initial: Radio
    icon: mdi:speaker

input_boolean:
  media_player_on:
    initial: off

shell_command:
  start_spotifyd: 'sudo /home/homeassistant/.homeassistant/shell_scripts/start_spotifyd.sh'
  stop_spotifyd: 'sudo /home/homeassistant/.homeassistant/shell_scripts/stop_spotifyd.sh'
